server.auth.url=http\://localhost\:8080/auth
path.multitenant=multitenant
realm.master.user.proxy=realm_manager_proxy
realm.master.user.pass=password
realm.master.oauth.id=realm_manager_proxy
realm.master.oauth.secret=password
realm.template.json=/realm-template.json
